<!doctype html>
<html ng-app="dreChromeApp">

<head>
  <meta charset="utf-8">
  <title>Data Uploader</title>
  <!-- build:css(./app) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
  <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css"/>
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>

<body ng-controller="dreCtrl">
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand cover-text">DRE DATA UPLOADER</h3>
          <a href="https://github.com/amida-tech/blue-button">
		  <svg width="100px" height="100px" style="float: right;margin-bottom: -50px;margin-top: -28px;margin-right: 8px;border: 6px solid #fff; border-radius: 50px;" viewBox="0 0 174 174" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
		      <!-- Generator: Sketch 3.3.2 (12043) - http://www.bohemiancoding.com/sketch -->
		      <title>Artboard 1</title>
		      <desc>Created with Sketch.</desc>
		      <defs></defs>
		      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
		          <g id="Artboard-1" sketch:type="MSArtboardGroup">
		              <g id="Oval-1-+-Rectangle-2-+-Rectangle-1" sketch:type="MSLayerGroup">
		                  <circle id="Oval-1" fill="#0070BB" sketch:type="MSShapeGroup" cx="87" cy="87" r="87"></circle>
		                  <path d="M124,132 L51.5,132 L39,132 L39,89 L54,89 L54,117 L54,117 L120,117 L120,89 L135,89 L135,132 L124,132 Z" id="Rectangle-2" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
		                  <path d="M101,75 L101,25 L72,25 L72,75 L57,75 L86.5,104 L116,75 L101,75 Z" id="Rectangle-1" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
		              </g>
		          </g>
		      </g>
		  </svg>
		  </a>
         <!-- <p class="lead">A Data Uploader DRE Extension...</p>-->
        </div>
      </div>
      <div class="inner cover">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title" ng-if="tabStep===0">Connect to Service</h3>

            <h3 class="panel-title" ng-if="tabStep===1">Downloading Health Records...</h3>

            <h3 class="panel-title" ng-if="tabStep===2">Login to DRE</h3>

            <h3 class="panel-title" ng-if="tabStep===3">Save and Upload Health Records</h3>

            <h3 class="panel-title" ng-if="tabStep===4">Thanks!</h3>
          </div>
          <div class="panel-body" ng-if="tabStep===0">
            <div class="row" style="margin-top: 12px;">
              <div class="col-xs-8 col-xs-offset-2">
                <label>Choose Provider:</label>
                <select class="form-control" ng-model="select.service"
                        ng-options="service.name for service in services">
                  <option></option>
                </select>
              </div>
            </div>
            <br/>

            <div class="well" ng-if="select.service.name">
              <div class="form-group" ng-if="select.service.username">
                <label for="inputUsername">Username</label>
                <input type="text" class="form-control" id="inputUsername" ng-model="select.username"
                       placeholder="Username for {{select.service.name}}">
              </div>
              <div class="form-group" ng-if="select.service.password">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" id="inputPassword" ng-model="select.password"
                       placeholder="Password for {{select.service.name}}">
              </div>
              <div class="form-group" ng-if="select.service.file">
                <label for="uploadFile">Manual Upload</label>
                <input type="file" file-model id="uploadFile">

                <p class="help-block">Upload your medical record here. Acceptable formats are: xml, pdf, txt</p>
              </div>
            </div>
          </div>
          <div class="panel-body" ng-if="tabStep===1">
            <div class="row">
              <div class="col-sm-12">
                <progressbar class="progress-striped active" max="100" value="progress"><b>{{progress}}%</b>
                </progressbar>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
              <div class="alert alert-info" role="alert"
                   ng-repeat="progressAlert in progressAlerts track by $index">
                {{progressAlert}}
              </div>


              </div>
            </div>
          </div>
          <!--<div class="panel-body" ng-if="tabStep===2">
            <div class="well">
              <div class="form-group">
                <label for="dreDomain">DRE Location (dev)</label>
                <input type="text" class="form-control" id="dreDomain" ng-model="dre.domain"
                       placeholder="http://localhost:3000">
              </div>
              <div class="form-group">
                <label for="dreUsername">Username</label>
                <input type="text" class="form-control" id="dreUsername" ng-model="dre.username"
                       placeholder="DRE Username">
              </div>
              <div class="form-group">
                <label for="drePassword">Password</label>
                <input type="password" class="form-control" id="drePassword" ng-model="dre.password"
                       placeholder="DRE Password">
              </div>
              <button class="btn btn-default" ng-click="checkDRE()">Login</button>
              <div class="row">
                <div class="col-sm-12">
                  <div class="alert alert-danger" role="alert"
                       ng-repeat="dreAlert in dreAlerts track by $index">
                    {{dreAlert}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          -->
          <div class="panel-body" ng-if="tabStep===3">
            <div class="well">
              <!--<div class="form-group">
                <label for="dreDomain">DRE Location (dev)</label>
                <input type="text" class="form-control" id="dreDomain" ng-model="dre.domain"
                       placeholder="http://localhost:3000">
              </div>-->
              <div class="form-group">
                <label for="dreUsername">Username</label>
                <input type="text" class="form-control" id="dreUsername" ng-model="dre.username"
                       placeholder="DRE Username">
              </div>
              <div class="form-group">
                <label for="drePassword">Password</label>
                <input type="password" class="form-control" id="drePassword" ng-model="dre.password"
                       placeholder="DRE Password">
              </div>
            </div>
            <div class="row tablefix">
              <table class="table table-bordered table-hover table-responsive table-striped">
                <thead>
                <tr>
                  <th>File Name</th>
                  <th>Type</th>
                  <th>Save to Computer</th>
                  <th colspan="2">Upload to DRE</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="fileButton in fileButtons">
                  <td>{{fileButton.filename}}</td>
                  <td>{{fileButton.filetype}}</td>
                  <td><a class="btn btn-default btn-full" download="{{ fileButton.filename }}"
                         ng-href="{{ fileButton.url }}">Save</a></td>
                  <td ng-if="!fileButton.uploaded" colspan="2">
                    <a class="btn btn-default btn-full" ng-click="uploadFile(fileButton)"
                       ng-if="dre.username.length > 0 && dre.password.length > 0">Upload</a>
                    <a class="btn btn-default btn-full" ng-click="uploadFile(fileButton)"
                       ng-if="dre.username.length === 0 || dre.password.length === 0" ng-disabled="true">Upload</a>
                  </td>
                  <td ng-if="fileButton.uploaded">
                    <a class="btn btn-default btn-full" ng-click="uploadFile(fileButton)"
                       ng-if="dre.username.length > 0 && dre.password.length > 0">Upload</a>
                    <a class="btn btn-default btn-full" ng-click="uploadFile(fileButton)"
                       ng-if="dre.username.length === 0 || dre.password.length === 0" ng-disabled="true">Upload</a>
                  </td>
                  <td ng-if="fileButton.uploaded"><span ng-if="fileButton.uploaded">&#9989;</span></td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="alert alert-danger" role="alert"
                     ng-repeat="dreAlert in dreAlerts track by $index">
                  {{dreAlert}}
                </div>
              </div>
            </div>
          </div>
          <!--<div class="panel-body" ng-if="tabStep===4">
            <div class="row">
              <div class="col-sm-12">
                <button class="btn btn-full btn-primary" ng-href="dre.domain">Go to the DRE</button>
              </div>
            </div>
          </div>-->
          <div class="panel-footer">
            <div class="row">
              <div class="col-sm-12">
                <button class="btn btn-danger col-sm-2" ng-if="tabStep>0" ng-click="reset()">RESET</button>
                <button type="submit" class="btn btn-primary col-sm-2 pull-right" ng-if="tabStep===0"
                        ng-disabled="!select.service.name" ng-click="serviceStep()">Next
                </button>
                <button class="btn btn-default col-sm-2 pull-right" ng-if="tabStep===2" ng-click="skipDRE()">Skip
                </button>
                <button class="btn btn-primary col-sm-2 pull-right" ng-if="tabStep===3" ng-click="windowClose()">Close
                </button>
                <!--<button class="btn btn-primary col-sm-2 pull-right" ng-if="tabStep===3" ng-click="finish()">Finish
                </button>-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mastfoot">
        <div class="inner cover-footer">
          <p>DRE Blue Button Record Importer, by <a href="http://amida-tech.com">Amida Technology Solutions</a>.</p>

          <p>“Blue Button, the slogan, ‘Download My Data,’ the Blue Button Logo, and the Blue Button Combined Logo are
            registered service marks owned by the U.S. Department of Health and Human Services.”</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- build:js(./app) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js scripts/index.js -->
<script src="scripts/index.js"></script>
<!-- endbuild -->
</body>

</html>
