<!doctype html>
<html ng-app="dreChromeApp">

<head>
    <meta charset="utf-8">
    <title>Data Uploader</title>
    <!-- build:css(./app) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>

<body ng-controller="dreCtrl">
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand cover-text">Data Uploader (working title)</h3>
                        <p class="lead">A Data Reconciliation Engine Blue Button Record Importer</p>
                    </div>
                </div>
                <div class="inner cover" ng-if="tabStep == 0">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2">
                            <label class="cover-text">Which Provider Would You Like To Update?</label>
                            <select class="form-control" ng-model="selectService" ng-options="service.name for service in services">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <br/>
                    <div class="well" ng-if="selectService.name">
                        <form>
                            <div class="form-group" ng-if="selectService.username">
                                <label for="inputUsername">Username</label>
                                <input type="email" class="form-control" id="inputUsername" placeholder="Username for {{selectService.name}}">
                            </div>
                            <div class="form-group" ng-if="selectService.password">
                                <label for="inputPassword">Password</label>
                                <input type="password" class="form-control" id="inputPassword" placeholder="Password for {{selectService.name}}">
                            </div>
                            <div class="form-group" ng-if="selectService.file">
                                <label for="inputFile">Manual Upload</label>
                                <input type="file" id="inputFile">
                                <p class="help-block">Please upload your medical record here. Acceptable formats are:</p>
                            </div>
                            <!--<div class="checkbox">
                                <label>
                                    <input type="checkbox"> Remember This <a>(?)</a>
                                </label>
                            </div>-->
                            <button type="submit" class="btn btn-default" ng-click="firstStep(selectService)">Next</button>
                        </form>
                    </div>
                </div>
                <div class="inner cover" ng-if="tabStep == 1">
                    <div class="row">
                        <p class="cover-p">Great! We've got your record, now we need to login to DRE</p>
                    </div>
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2">
                            <button ng-hide="selectedService.file" class="btn btn-default btn-full">Click Here to Save To Your Computer</button>
                        </div>
                    </div>
                    <br/>
                    <div class="well">
                        <form>
                            <div class="form-group">
                                <label for="dreUsername">Username</label>
                                <input type="email" class="form-control" id="dreUsername" placeholder="DRE Username">
                            </div>
                            <div class="form-group">
                                <label for="drePassword">Password</label>
                                <input type="password" class="form-control" id="drePassword" placeholder="DRE Password">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Remember This <a>(?)</a>
                                </label>
                            </div>

                            <button type="submit" class="btn btn-default" ng-click="secondStep()">Next</button>
                        </form>
                    </div>
                </div>
                <div class="inner cover" ng-if="tabStep == 2">
                    <div class="row">
                        <p class="cover-p">Upload Complete</p>
                    </div>
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2">
                            <button class="btn btn-default btn-full">Click Here to go to DRE</button>
                        </div>
                    </div>
                </div>
                <div class="mastfoot">
                    <div class="inner cover-footer">
                        <p>DRE Blue Button Record Importer, by <a href="http://amida-tech.com">Amida Technology Solutions</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- build:js(./app) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js scripts/index.js -->
    <script src="scripts/index.js"></script>
    <!-- endbuild -->
</body>

</html>
